* {
    margin: 0px;
}

/*--cuternary: #C951E7;*/
:root {
    --primary: #171e30;
    --secondary: #F2F5F9;
    --terciary: #4A5567;
    --cuternary: #d753f8e0;
    --quinary: #672171;
    --senary: #7429C6;
}

body {
    height: 719px;
    background-image: url('/img/bg-guess-the-word.jpg');
    background-position: -64px -64px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 364px;
    height: 386px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    gap: 16px;

}

.container-Word-To-Guess {
    border-radius: 4px;
    box-shadow: 0px 4px 2px black;
    width: 317px;
    height: 100px;
    background-color: var(--terciary);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 16px;
    margin-top: 16px;

}

.container-tries-Mistakes {
    display: flex;
    gap: 90px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
}

.container-input-character {
    margin-top: 32px;
}

input {
    margin-right: 4px;
    width: 33px;
    height: 37px;
    border: 1.5px solid var(--terciary);
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    text-align: center;

}

input::placeholder {
    color: var(--secondary);
}

input:hover {
    border: 1.5px solid var(--quinary);

}

span {
    color: var(--secondary)
}

.container-btn {
    width: 350px;
    height: 100px;
    padding-top: 36px;
    padding-left: 86px;
    margin-top: 2px;

}

.btn {
    color: var(--secondary);
    background-color: var(--cuternary);
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px #7b0599fb;
    margin-right: 16px;
    font-size: 14px;
    font-family: 'Outfit', sans-serif;

}

.btn-Random {
    width: 140px;
    height: 40px;
}

.btn-Reset {
    width: 100px;
    height: 40px;
}

img {
    margin-top: 32px;
}

.iconoCircule {
    font-size: 6px;
    color: var(--terciary);
    position: relative;
    bottom: 4px;
    left: 4px;
    margin-right: 2px;

}

/*----------MEDIAS QUERYS--------------*/

@media(width: 1024px) {

    body {
        background-position: -196px -64px;
    }


}

@media (width:640px) {

    body {
        background-position: -376px -64px;
    }

}