* {
    margin: 0px;
}

/*--cuternary: #C951E7;*/
:root {
    --primary: #171e30;
    --secondary: #F2F5F9;
    --terciary: #4A5567;
    --cuternary: #d753f8e0;
    --quinary: #672171;
    --senary: #7429C6;
}

body {
    height: 100vh;
    background-image: url('/img/bg-guess-the-word.jpg');
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    gap: 16px;

}

.container-Word-To-Guess {
    border-radius: 4px;
    box-shadow: 0px 4px 2px black;
    width: 242px;
    height: 50px;
    background-color: var(--terciary);
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    letter-spacing: 16px;

}

.container-tries-Mistakes {
    display: flex;
    gap: 64px;


}

input {
    margin-right: 8px;
    width: 25px;
    height: 30px;
    border: 1.5px solid var(--terciary);
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 20px;
}

input:hover {
    border: 1.5px solid var(--quinary);

}

span {
    color: var(--secondary)
}

.container-btn {
    width: 350px;
    height: 100px;
    padding-top: 32px;
    padding-left: 86px;
}

.btn {
    color: var(--secondary);
    background-color: var(--cuternary);
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px #7b0599fb;
    margin-right: 16px;

}

.btn-Random {
    width: 140px;
    height: 40px;
}

.btn-Reset {
    width: 100px;
    height: 40px;
}

img {
    margin-top: 16px;
}

.iconoCircule {
    font-size: 6px;
    color: var(--terciary)
}